[submodule "tickets"]
	path = tickets
	url = https://github.com/BurningFlipside/Tickets.git
[submodule "register"]
	path = register
	url = https://github.com/BurningFlipside/Registration.git
[submodule "fvs"]
	path = fvs
	url = https://github.com/BurningFlipside/VolunteerSystem.git
[submodule "themes"]
	path = themes
	url = https://github.com/BurningFlipside/ThemeRegistration.git
