[submodule "tickets"]
	path = tickets
	url = git@gitlab.com:BurningFlipside/TicketSystem.git
[submodule "register"]
	path = register
	url = git@gitlab.com:BurningFlipside/RegistrationSystem.git
[submodule "fvs"]
	path = fvs
	url = git@gitlab.com:BurningFlipside/FlipsideVolunteerSystem.git
